# URL Endpoint Backend Golang API
# Untuk development lokal, gunakan: http://localhost:8080
# Untuk environment production, gunakan URL server Anda, contoh: https://apifasil.cobalab.web.id
VITE_API_URL=http://localhost:8080
